.container-jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 30px;
}
.job1{
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 10px;
}
.iconSpan{
}
.icon1{
    padding: 10px;
    margin-top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.dark-companyname{
    background-color: rgb(25, 32, 45);
}
.country{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #7907fc;
}
.dark-card{
    background-color: rgb(25, 32, 45);
}
.job-title{
    color: rgb(18, 23, 33);
    text-decoration: none;
    font-weight: 700;
}
.job-title:hover{
    color: rgb(110, 128, 152);
}
a{
    text-decoration: none;
}
.at{
    color: rgb(110, 128, 152);
    font-weight: 400;
}
.company{
    color: rgb(110, 128, 152);
}
.dark-position{
    color: white;
}


/* Tablet styles (up to 768px) */
@media only screen and (max-width: 768px) {

    .job1{
        width: 46%;
        padding-left: 15px;
    }
    .icon1{
        padding: 17px;  
    }
}

/* Phone styles (up to 576px) */
@media only screen and (max-width: 576px) {
    .job1{
        width: 100%;
        padding-left: 40px;
    }
}