<div class="container-jobs">
  <div
    class="job1"
    *ngFor="let job of jobsData"
    [ngClass]="{ 'dark-card': isDarkMode$ | async }"
  >
    <a [routerLink]="['/detail', job.id]">
      <div class="">
        <div class="iconSpan"><img
            class="icon1"
            style="background-color: {{ job.logoBackground }};"
            src="{{ job.logo }}"
            alt=""
        /></div>
        <p class="at">
          {{ job.postedAt }} . <span> {{ job.contract }}</span>
        </p>
        <h5
          class="job-title"
          [ngClass]="{ 'dark-position': isDarkMode$ | async }"
        >
          {{ job.position }}
        </h5>
        <p class="company">{{ job.company }}</p>
        <h5 class="country">{{ job.location }}</h5>
      </div>
    </a>
  </div>
</div>
